table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .display-flex {
    display: flex;
    justify-content: space-between;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding:   10px;
    border: 1px solid #ccc;
    border-radius:   6px;
  } 

  input[required], select[required]{
    border: 1px solid red;
  }

