table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .display-flex {
    display: flex;
    justify-content: space-between;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding:   10px;
    border: 1px solid #ccc;
    border-radius:   6px;
  } 

  input[required], select[required]{
    border: 1px solid red;
  }


  /* Loading overlay styles */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
}

/* Spinner styles */
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #ffffff; /* White color for the spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

select option:disabled {
  color: gray;
}


.container {
  display: flex;
  border: 1px solid #000;
}

.sidebar {
  width: 20%;
  color: white;
  padding: 20px;
  border: 1px solid #000;
}

.main-content {
  width: 80%;
  padding: 20px;
  border: 1px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border: 1px solid #000;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #cc0000;
}